Notebook for the preprocessing of the exchange rate data

Saves the preprocessed data in a .csv file

In [7]:
import os
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
# Iterate on .csv files in the given directory, read them into dataframes
directory = '/content/drive/My Drive/deeplearning'
data_df = pd.DataFrame()

def change_time_to_date(series_element):
    date = series_element.split(' ')[0]
    date = str(date[:4]) + "-" + str(date[4:6]) + "-" + str(date[6:])
    return date

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        df = pd.read_csv(os.path.join(directory, filename), header=None, names=['Time', 'BidQuote', 'AskQuote', 'Volume'])
        df = df.drop('Volume', axis=1)
        df['Date'] = df['Time'].apply(func=change_time_to_date)
        df = df.drop('Time', axis=1)
        df = df[['Date', 'BidQuote', 'AskQuote']]
        data_df = pd.concat([data_df, df])
data_df

              Date  BidQuote  AskQuote
0       2010-11-14   276.310   276.460
1       2010-11-14   276.310   276.460
2       2010-11-14   276.300   276.450
3       2010-11-14   276.430   276.580
4       2010-11-14   276.590   276.740
...            ...       ...       ...
337383  2019-09-30   334.804   334.974
337384  2019-09-30   334.804   334.973
337385  2019-09-30   334.804   334.996
337386  2019-09-30   334.772   334.972
337387  2019-09-30   334.772   334.970

[27196022 rows x 3 columns]

In [10]:
print(data_df.all())
data_df = data_df.groupby(['Date']).mean()
data_df.to_csv("forex_data.csv")

Date        True
BidQuote    True
AskQuote    True
dtype: bool

In [11]:
data_df

              BidQuote    AskQuote
Date
2010-11-14  276.124167  276.274167
2010-11-15  276.518511  276.668511
2010-11-16  277.247576  277.397576
2010-11-17  277.254591  277.404591
2010-11-18  275.087612  275.237612
...                ...         ...
2019-09-24  334.777242  334.893755
2019-09-25  334.387243  334.492309
2019-09-26  334.917537  335.031652
2019-09-27  335.554946  335.670201
2019-09-30  334.861907  334.970689

[2726 rows x 2 columns]